{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/_navbar.html.twig' %}
    <div class="mt-5 d-flex align-items-center justify-content-center">
        <embed src="{{ asset('uploads/' ~ task.photo ) }}" width="128" height="128">
        <h1 class="ms-3">Modifier la tâche</h1>
    </div>

    {% include 'task/_form.html.twig' %}


{% endblock %}